@import "tailwindcss";

@theme {
  --color-primary: #FF671F;
  --color-primary-dark: #D4550F;
  --color-primary-light: #FF8C42;
  --color-dark: #1A1A2E;
}

body {
  background:
    linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),
    url('./assets/matraz.png') center / cover fixed;
  min-height: 100vh;
}
